.email{
    z-index: 999;
    display:flex;
    flex-direction:column;
    position:fixed;
    width:2%;
    height:40%;
    bottom: 0;
    right:4%;

}

.line{
    position:relative;
    width: 5%;
    height: 43%;
    background-color:#444452;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    box-shadow: 2px 2px 5px rgb(116, 203, 206);
    
}

.email a{
    letter-spacing: 1px;
    writing-mode: vertical-rl;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    color: #444452;
    text-shadow: 2px 2px 5px rgb(116, 203, 206);
    transition: all 500ms;
}

.email a:hover{
    font-size: 18px;
    text-shadow: 2px 2px 5px rgb(102, 183, 186);
}

@media screen and (max-width: 740px) {
    .email{
        padding-right: 30px;
    }
}
