.card{ 
    overflow-y: hidden;
    width: 50%;
    height: 50%;
}

.pImage{
  display: flex;
  height: 200px;
  width: 80%;
  z-index: 1;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0 0 0.5rem rgb(229, 187, 119));
  cursor: pointer;
  margin-bottom: 15px;
}

.pText{
  width: 80%;
  display: inline-block;
  font-weight:220;
}

.pName{
  height: 30%;
  text-align: center;
  font-weight:300;
  text-decoration: underline dotted rgb(255, 198, 106);
}

.pName, .pDate, .pDesc{
  margin: 10px;
}

