.intro{
    width: 100%;
    height:70vh;
    padding: 6.944vh 13.194vw 0 13.194vw;
    display:flex;
    justify-content:center;
    align-items: center;
}

.hi{
    font-size:2.778vw;
    font-weight:200;
}

.name{
    font-size:6.250vw;
    color:rgb(116, 203, 206);
}


.des{
    font-size:2.8vw;
    letter-spacing:0.6px;
    font-weight: 300;
    color:#444452;
}

.introtext{
    width:60%;
    align-items: center;
    justify-content: center;
}

.intropic{
    width:60%;
    height:100%;
    z-index:-1;
}

.introp{
    width: 100%;
    height:88%;
    background-image: url("popup.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size:contain;
    filter: drop-shadow(0 0 0.5rem rgb(167, 167, 167));
}


@media screen and (max-width: 615px) {
    .intro{
        width: 100%;
        height: 40vh;
        padding: 0vh 13.195vw;
        
    }


}