.expCard{
    font-weight:220;
    line-height:1.5;
    color:#42424d;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid #f4ae72;;
    padding: 6px;
}

.expTitle{
    font-weight: 500;
    color: #f4ae72;
}

.expCompany{
    font-weight: 400;
}

.expDate{
    font-weight: 200;
}

