*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    text-decoration: none;
    overflow-x: hidden;
}

@import url("https://fonts.googleapis.com")